/*******************
  DESIGN INFO

  Fauna One font weights:

  Playfair Display font weights:
  - Regular = 400
  - Bold = 700
  - Black = 900

  Muli font weights:
  - Black = 900

*******************/


/*Design notes:*/
/*need to change the colour of the white backgroud to an off white*/
/*make footer white*/


/*******************
  BASE SETUP
*******************/

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*******************
  FONT SETUP
*******************/

html {
  font-size: 14px;
  line-height: 23px;
  color: var(--almost-black);
  --white: #fff;
  --off-white: #F7F7F7;
  --lighter-grey: #d3d3d3;
  --light-grey: #888888;
  --almost-black: #333;
  --light-blue: #75BCCA;
  --dark-blue: #08778C;
  --off-yellow: #eaffd0;
  --lightest-green: #AED6CA;
  --lighter-green: #95e1d3;
  --light-green: #61B395;
  --dark-green: #649281;
  --red: #f56262;
  --orange: #F7806A;
}



body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .3px;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 2.286em;
  line-height: 1.2em;
  letter-spacing: .9px;
  margin-top: 50px;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.6em;
  line-height: 1.4em;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}

h5 {
  font-family: 'Muli', sans-serif;
  font-size: 3em;
  line-height: 1.1em;
  margin: 0;
}


/*******************
  GENERAL SETUP
*******************/

.linebreak {
  height: 2px;
  width: 80px;
  padding: 0;
  margin: 0 0 40px;
  background: linear-gradient(top left, var(--light-blue) , var(--dark-blue));
  background: -webkit-linear-gradient(top left, var(--light-blue) , var(--dark-blue));
}

.heading {
  padding: 0 1em;
}

.headingtwo {
  padding: 0 1em 3em;
}

.margin1 {
  margin-top: 30px;
  margin-bottom: 0px;
}

.margin2 {
  margin-top: 15px;
  margin-bottom: 50px;
}

/*******************
  NAVIGATION
*******************/

header {
  padding: 1em .75em 0 .75em;
}

.logo img {
  width: 105px;
}

.logo {
  float: left;
}

.menuLabel {
  float: right;
  margin: 0;
  padding-top: 2px;
}

#hamburger {
  float: right;
  padding: .3em 0 0 0;
  color: var(--almost-black);
  font-size: 1.5rem;
  cursor: pointer;
}

#hamburger:active {
  color: var(--lighter-green);
}

.label {
  margin-top: 5px;
  padding-right: 7px;
  display: inline-block;
  font-size: 0.857em;
}

.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(top left, var(--lighter-green) , var(--off-yellow));
  background: -webkit-linear-gradient(top left, var(--lighter-green) , var(--off-yellow));
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
  transform: translateX(-100%);

}

.sidenav.is-active {
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.sidenav li {
  margin-bottom: 2em;
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  display: block;
  transition: 0.3s;
}

nav ul li a {
  color: var(--almost-black);
}


.sidenav a {
  text-decoration: none;
  position: relative;
}

.sidenav a:before {
  content: "";
  height: 2px;
  width: 100%;
  bottom: -6px;
  left: 0;
  background-color: var(--white);
  opacity: 0.4;
  position: absolute;
  transform: scaleX(0.4);
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform-origin: 0 0;
  transition: transform 0.3s;
}

.sidenav a:hover:before {
  transform: scaleX(1);
  opacity: 1;
}

nav ul {
  padding-left: 0;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 0.857em;
  margin-left: 50px;
  padding-top: 20px;
  text-decoration: none;
  color: var(--almost-black);
  cursor: pointer;
}

.closebtn:hover {
  font-size: 0.88em;
  color: var(--off-yellow);
  transform: scaleX(1);
  opacity: 1;
}


/*******************
  ABOUT PAGE
*******************/

ins {
  text-decoration: none;
  position: relative;
}

ins:before {
  content: "";
  height: 3px;
  background: linear-gradient(top left, var(--light-blue) , var(--dark-blue));
  background: -webkit-linear-gradient(top left, var(--light-blue) , var(--dark-blue));
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.profile {
  width: 80%;
  max-width: 340px;
  display: block;
  padding: 40px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  transition: filter .4s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.profile:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.skills {
  margin-top: 4em;
}

.table {
  text-align: center;
}

table {
  width: 100%;
  margin: 4em 0;
}

td {
  display: block;
  padding: 20px;
  border: 1.2px solid var(--lighter-grey);
}

td:nth-child(2n) {
border-bottom: none;
border-top: none;
}

td p {
  color: #a8a8a8;
}



/*******************
  WORK PAGE
*******************/

.process {
  background: linear-gradient(top left, var(--red), var(--orange));
  background: -webkit-linear-gradient(top left, var(--red), var(--orange));
  width: 100%;
  padding: 2em 2em;
  color: var(--white);
  margin-top: 40px;
}




/*******************
  CONTACT PAGE
*******************/

.contact {
  background: linear-gradient(top left, var(--light-blue) , var(--dark-blue));
  background: -webkit-linear-gradient(top left, var(--light-blue) , var(--dark-blue));
  padding: 2em 1em;
}

.contact p {
  color: var(--white);
}

.bold {
  font-weight: 900;
}

.contact a {
  color: var(--white);
}

.call {
  font-family: 'Muli', sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  color: var(--white);
  text-decoration: none;
  position: relative;
}

.call:before {
  content: "";
  height: 3px;
  width: 100%;
  bottom: -8px;
  background-color: var(--dark-blue);
  opacity: .4;
  position: absolute;
  transform: scaleX(0.4);
  transform-origin: 0 0;
  transition: transform 0.3s;
}

.call:hover:before {
  transform: scaleX(1);
  opacity: 1;
}

.moreinfo {
  margin-top: 2em;
}

.email {
  text-decoration: none;
  border-bottom: 1px solid var(--white)
}

.moreinfo p {
  margin: 0.1em 0;
}

.moreinfo p:first-child {
  margin-bottom: 1.5em;
}

.contact .fa-phone {
  display: block;
  color: var(--white);
  margin-bottom: 0.1em;
}

.socialProfiles {
  padding-left: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.socialProfiles ul {
  list-style-type: none;
  padding-left: 0;
}

.socialProfiles li {
  list-style-type: none;
  float: left;
  margin: .5em .5em;
}

.socialProfiles li:first-child {
  margin-left: 0px;
}

.socialProfiles li:last-child {
  margin-right: 0px;
}

.item {
  border-radius: 50%;
  display: block;
	width: 45px;
	height: 45px;
  border: 1.7px solid var(--light-blue);
  position: relative;
}

.icon {
  font-size: 20px;
  color: var(--white);
  position: absolute;
  margin: 12px;
}

.item:hover {
  background-color: var(--dark-blue);
  border: 1.7px solid var(--light-blue);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.address p {
  margin: 0.1em 0;
}

.address {
  padding: 2em 1em 0em 1em ;
}

#map {
  height: 320px;
  width: 100%;
}

.openmaps {
  margin: 1em 1em 3em 1em;
}


/*******************
  FOOTER
*******************/

footer {
  background-color: var(--off-white);
  padding: .5em;
}

footer a {
  font-size: 10px;
}

footer p {
  text-align: center;
}

.declaration {
  margin: 1em 0 0 0;
}

.smallprint {
  font-size: 9px;
  margin-top: 0;
  margin-bottom: 10px;
}

/*******************
  LOGO
*******************/




/*******************
  RESPONSIVE STYLES
*******************/

@media screen and (min-width: 740px) {

  /*******************
    FONT SETUP
  *******************/

  html {
    font-size: 15px;
    line-height: 24px;
  }

  body {
    letter-spacing: .3px;
  }

  h1 {
    font-size: 3em;
    line-height: 1.15em;
    margin-top: 0px;
  }

  h2 {
    font-size: 2em;
    line-height: 1.3em;
  }

  h3 {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  h5 {
    font-size: 4.5em;
    line-height: 1.1em;
    margin: 0;
    max-width: 982px;
    margin: auto;
    /*text-align: center;*/
  }

  /*******************
    GENERAL SETUP
  *******************/

  .linebreak {
    height: 4px;
    width: 100px;
    padding: 0;
    margin: 0 auto 55px;
  }

  .centreContainer {
    margin: auto;
    text-align: center;
  }

  /*******************
    NAVIGATION
  *******************/

  #hamburger {
    display: none;
  }

  .label {
    display: none;
  }

  .closebtn {
    display: none;
  }

  header {
    padding: 2em 1.5em 1.5em 1.5em;
  }

  img {
    width: 100px;
  }

  nav ul {
    float: right;
    margin-top: 0;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    display: block;
    color: var(--alomst-black);
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 1em;
    padding-top: 4px;
  }

  .sidenav {
    height: auto;
    width: auto;
    position: relative;
    background-color: transparent;
    overflow-x: visible;
    padding: 0;
    box-shadow: none;
    transition: 0;
    transform: translateX(0);
  }

  .sidenav a {
    text-decoration: none;
    position: relative;
  }

  .sidenav a:before {
    content: "";
    height: 2px;
    width: 100%;
    bottom: -6px;
    left: 0;
    background: linear-gradient(top left, var(--light-blue) , var(--dark-blue));
    background: -webkit-linear-gradient(top left, var(--light-blue) , var(--dark-blue));
    opacity: .4;
    position: absolute;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transform-origin: 0 0;
    transition: transform 0.3s;
  }

  .sidenav a:hover:before {
    transform: scaleX(1);
    opacity: 1;
  }

  .sidenav li {
    margin-bottom: auto;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    display: block;
  }

  /*******************
    ABOUT PAGE
  *******************/

  .intro {
    width: 55%;
    float: left;
    text-align: left;
  }

  .profile {
    width: 35%;
    max-width: 250px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: 0px;
  }

  .skills {
    max-width: 55%;
  }

  table {
    margin: 4em 0;
  }

  td {
    float: left;
    width: 33.333333333333333%;
    height: 170px;
    padding: 20px;
    /* border: 1.8px solid var(--lighter-grey); */
  }

  td:nth-child(2n) {
    border-bottom: 1.2px solid var(--lighter-grey);
    border-top: 1.2px solid var(--lighter-grey);
    border-left: none;
    border-right: none;
  }


  /*******************
    WORK PAGE
  *******************/

  .process {
    width: 100%;
    padding: 4em 4em;
    color: var(--white);
    margin: 55px 0px;
  }

  .expertise {
    text-align: left;
  }

  /*******************
    CONTACT PAGE
  *******************/

  .contact {
    padding: 6em 2em;
    width: 50%;
    height: 500px;
    float: left;
    display: inline;
  }

  .call {
    text-decoration: none;
    position: relative;
    font-size: 2.3em;
  }

  .socialProfiles {
    padding-left: 0px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .socialProfiles ul {
    list-style-type: none;
    padding-left: 0;
  }

  .socialProfiles li {
    list-style-type: none;
    float: left;
    margin: .5em .8em;
  }

  .socialProfiles li:first-child {
    margin-left: 0px;
  }

  .item {
    border-radius: 50%;
    display: block;
  	width: 45px;
  	height: 45px;
  }

  .icon {
    font-size: 20px;
    color: var(--white);
    margin: 12px;
  }

  .item:hover {
    background-color: var(--dark-blue);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  #map {
    width: 50%;
    height: 500px;
  }

  .mapRight {
    position: inherit;
    clear: right;
    display: inline;
  }

  .address {
    padding: 0em 1em 0em 1em ;
  }
}

@media screen and (min-width: 1024px) {

  img {
    width: 120px;
  }

  .hero {
    max-width: 999px;
    margin: 0 auto;
    width: 100%
  }

  table {
    max-width: 817px;
    margin: 5em auto 7em;
    width: 100%
  }

}
